# Python virtual environment
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.pyc

# Backend temp files
backend/temp/

# VSCode files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node.js dependencies
frontend/node_modules/

# Build outputs
frontend/dist/
frontend/build/

# Logs
*.log

# dotenv environment variables
.env

# Ignore frontend local env files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
